.comment-comp{
    width: 100%;
    input{
        width: 90%;
        max-width: 600px;
        display: block;
        margin-bottom: 5px;
    }
    textarea{
        width: 90%;
        max-width: 1000px;
    }
}